.edit-bar {
    background-color: aquamarine;
    height: 100%;
    width: 43rem;
    position: fixed;
    right: -500px;
    top: 0;
    transition: 1s ease;
    display: flex;
}

.tags {
    background-color: blueviolet;
    width: 13rem;
}

.tag:hover {
    cursor: pointer;
    background-color: blue;
}